<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61b98cd7-05e9-4ded-a971-91620e420fd0" Alias="List pqrs" Level="2">
  <Info>
    <Name>List pqrs</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "81c273a3-d9f9-4b40-bdf1-49615175871c",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{ pregunta }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>