<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05161b3a-1810-4eda-839c-e4924ee10227" Alias="ListBanner" Level="2">
  <Info>
    <Name>ListBanner</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "7b8dc81c-3bcf-4923-8434-a8efc0f06399",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{ tituloBanner }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": 10
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>