<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53ba8c79-9526-4ed8-b191-8d499301a3c1" Alias="ListadoProductoPromocion" Level="2">
  <Info>
    <Name>ListadoProductoPromocion</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "20a3c95a-73de-48ee-af25-68c5151af747",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{ nombre }}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>