<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a139a03d-555e-42e5-a546-e9cbdb495956" Alias="buscador" Level="1">
  <Info>
    <Name>Buscador</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Buscador</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cbedf49c-efa5-486f-a1a1-e4c188fb33d6">Buscador</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>55a8687c-91ee-4367-b475-b934bb9f39f1</Key>
      <Name>Imagen de fondo header</Name>
      <Alias>imagenDeFondoHeader</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contenido">Contenido</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contenido</Caption>
      <SortOrder>0</SortOrder>
      <Alias>contenido</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>