<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a139a03d-555e-42e5-a546-e9cbdb495956" Alias="buscador" Level="1">
  <Info>
    <Name>Buscador</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Buscador</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cbedf49c-efa5-486f-a1a1-e4c188fb33d6">Buscador</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>