<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59b317c4-d1a7-4c3b-a8ca-7709f1f34071" Alias="productos" Level="1">
  <Info>
    <Name>Productos</Name>
    <Icon>icon-item-arrangement color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="62b2e313-7d34-4e38-807a-b5a3a4429606">menu</Composition>
    </Compositions>
    <DefaultTemplate>Productos</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5783df5c-0fc4-4aff-bb3e-cc4bf09ac1c2">Productos</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9f93462e-6acd-448d-be9d-f2bafcf0cdff</Key>
      <Name>Imagen de fondo</Name>
      <Alias>imagenDeFondo</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contenido">Contenido</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed2fd8d6-348c-41ad-a3c1-3e9c28c6d02b</Key>
      <Name>Titulo seccion en inicio</Name>
      <Alias>tituloSeccionEnInicio</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contenido">Contenido</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ebf88cac-9adb-4d48-b640-2fede471dde1</Key>
      <Name>Titulo seccion interna</Name>
      <Alias>tituloSeccionInterna</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contenido">Contenido</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contenido</Caption>
      <SortOrder>1</SortOrder>
      <Alias>contenido</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>